
@green: #82cf5f;
@blue: #4d94d2;

h2 {
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.bi-twitter {
	color: #4099ff;
}
.bi-facebook {
	color:#3b5998;
}
// .color-instagram {color:#e95950;}
// .color-linkedin {color:#0077B5;}

.navbar-brand {
	max-width: 75%;
	img {
		max-height: 50px;
		max-width: 75%;
	}
}

.banner {
	img.banner-bg {
		height: 200px;
		float: right;
	}
}
.banner.green {
	background-image: linear-gradient(to right, @green , @blue);
	h2 {
		margin: 50px;
		color: white;
	}
}
.banner.white-green {
	background-image: linear-gradient(white 0%, @green 50%, @green 100%);
}

.project img.photo {
	max-width: 100%;
	max-height: 300px;
}

.roundel-row {
	.area {
		img {
			max-width: 100%;			
		}
		.round {
			border: solid 10px @green;
		}
		text-align: center;
	}
}
.round {
	border-radius: 50%;	
}

footer {
	background: @green;
}