<footer>
	<div class="row">
		<div class="col">
			<div class="linkbuttons">
				<center>
					<div>Follow us on</div>
					<a target="_new" href='https://www.facebook.com/ScottishEducationandActionforDevelopment'><i class="bi-facebook" style="font-size: 2rem;"></i></a>
					<a target="_new" href='https://twitter.com/seadfeed'><i class="bi-twitter" style="font-size: 2rem;"></i></a>							
				</center>
			</div>
		</div>
		<div class="col">
			<button type="button" class="btn btn-primary">Donate</button>
		</div>

		<center>
			&copy; 2017-2023 SEAD (Scottish Education and Action for Development), registered
			charity SC013867</a>. Email: <span class='email' name='seadfund' domain='gmail.com'>seadfund (at)
				gmail.com</span>
			<br>
			Site design &amp; hosting: <a href='https://good-loop.com'>Good-Loop</a>.
		</center>
	</div>
</footer>