<footer class="w-100 p-4">
	<div class="container">
		<hr class="d-none d-print-block" />
		<div class="row">
			<div class="col d-print-none">
				<div class="linkbuttons">
					<center>
						<div>Follow us on</div>
						<a target="_new" href='https://www.facebook.com/ScottishEducationandActionforDevelopment'><i
								class="bi-facebook" style="font-size: 2rem;"></i></a>
						<a target="_new" href='https://twitter.com/seadfeed'><i class="bi-twitter"
								style="font-size: 2rem;"></i></a>
					</center>
				</div>
			</div>
			<div class="col d-print-none">
				<button type="button" class="btn btn-primary">Donate</button>
			</div>

			<center>
				&copy; 2017-2024 SEAD (Scottish Education and Action for Development), registered
				charity SC013867</a>. Email: <span class='email' name='seadcharity' domain='gmail.com'>seadcharity (at)
					gmail.com</span>
			</center>
		</div>
	</div>
</footer>