
<form id="mailing-list" method="post" 
	action="https://profiler.good-loop.com/form/sead.org.uk" role="form">
	<label class='fs-4 me-3 text-light font-gravity text-end float-end'>Get email updates on<br/>our projects</label>
	<div class="clearfix"></div>
	<div class='form-group'>
		<div class="row">
			<div class="col-9">
				<input class='form-control form-control-lg font-gravity' type='email' name='email' placeholder='Your Email'
					required="required" data-error="Valid email is required.">
			</div>
			<div class="col-3">
				<button class="btn btn-primary btn-lg border-light font-gravity" type='submit'>Sign up</button>			
			</div>
		</div>
	</div>	
</form>
