<form id="mailing-list" method="post" action="https://profiler.good-loop.com/form/sead.org.uk" role="form">
	<label class='fs-4 me-3 text-light font-gravity text-end float-end'>Get email updates on<br />our projects</label>
	<div class="clearfix"></div>
	<div class='form-group'>
		<div class="row">
			<div class="col-9">
				<input class='form-control form-control-lg font-gravity' type='email' name='email'
					placeholder='Your Email' required="required" data-error="Valid email is required.">
			</div>
			<div class="col-3">
				<button class="btn btn-primary btn-lg border-light font-gravity" type='submit'>Sign up</button>
			</div>
		</div>
	</div>
</form>


<!-- AWeber Web Form Generator 3.0.1 -->
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl">
	<div style="display: none;">
		<input type="hidden" name="meta_web_form_id" value="295467521" />
		<input type="hidden" name="meta_split_id" value="" />
		<input type="hidden" name="listname" value="awlist6798052" />
		<input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text"
			id="redirect_1803915d05e8a43f719404c29d03e6b0" />
		<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
		<input type="hidden" name="meta_message" value="1" />
		<input type="hidden" name="meta_required" value="email" />
		<input type="hidden" name="meta_tooltip" value="" />
	</div>
	<div id="af-form-295467521" class="af-form">
		<div id="af-header-295467521" class="af-header">
			<div class="bodyText">
				<p>Get SEAD-Fund updates - a monthly splash of positive action for your inbox<span
						style="color:#FFFFFF;"><strong>Get updates on SEAD-Fund activity: A monthly splash of positivity
							for your inbox</strong></span></p>
			</div>
		</div>
		<div id="af-body-295467521" class="af-body af-standards">
			<div class="af-element">
				<label class="previewLabel" for="awf_field-117439429">Email:</label>
				<div class="af-textWrap"><input class="text" id="awf_field-117439429" type="email" name="email" value=""
						tabindex="500" onfocus=" if (this.value == '') { this.value = ''; }"
						onblur="if (this.value == '') { this.value='';}" />
				</div>
				<div class="af-clear"></div>
			</div>
			<div class="af-element buttonContainer">
				<input name="submit" class="submit" type="submit" value="Subscribe" tabindex="501" />
				<div class="af-clear"></div>
			</div>
			<div class="af-element privacyPolicy" style="text-align: center">
				<p>We respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm"
						target="_blank" rel="nofollow">email privacy</a></p>
				<div class="af-clear"></div>
			</div>
			<!-- <div class="af-element poweredBy" style="text-align: center; font-size: 9px;"><p><a href="https://www.aweber.com" title="AWeber Email Marketing" target="_blank" rel="nofollow">Powered by AWeber Email Marketing</a></p>
<div class="af-clear"></div>
</div> -->
		</div>
		<div id="af-footer-295467521" class="af-footer">
			<div class="bodyText">
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
	<div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=TJysLGzsrEyM" alt="" /></div>
</form>
<!-- /AWeber Web Form Generator 3.0.1 -->